* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat_Regular', sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  width: 1px;
  background: #1c1c1c;
  border-radius: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
  scroll-behavior: smooth;
}

.green {
  color: greenyellow !important;
}

.red {
  color: #ff2b00 !important;
}

.body-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.body-bg > .image-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  overflow-x: hidden;
}

.body-bg > .image-item > h3 {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.body-bg > .image-item > img {
  width: 100%;
  opacity: 0;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

@-webkit-keyframes comeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes comeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes comeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@keyframes comeOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

.body-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, rgba(224, 244, 54, 0.4) 0%, rgba(22, 136, 62, 0.4) 100%);
  z-index: 1;
}

.auth-modal {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  padding-right: 60px;
  width: 30vw;
  min-width: 500px;
  height: 100vh;
  background: radial-gradient(circle, #e0f436 0%, #16883e 100%);
  -webkit-box-shadow: -2px 0 4px rgba(0, 0, 0, 0.6);
          box-shadow: -2px 0 4px rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-modal > .popup {
  position: absolute;
  left: 50%;
  top: 13%;
  -webkit-transform: translateX(calc(-50% - 30px));
          transform: translateX(calc(-50% - 30px));
  margin-bottom: 30px;
  font-size: 13px;
  color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 0 3px 4px rgba(0, 0, 0, 0.6);
  text-align: center;
  min-width: 200px;
  padding: 6px 15px;
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 0;
  -webkit-animation: error .4s ease-in-out forwards;
          animation: error .4s ease-in-out forwards;
  overflow: hidden;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.auth-modal > .popup.error {
  background: salmon;
  border: 2px solid red;
}

.auth-modal > .popup.success {
  font-weight: 900;
  font-size: 14px;
  background: #cce936;
  color: #626d1d;
  border: 2px solid #9bcf39;
}

.auth-modal > form {
  max-width: 350px;
  padding: 0 30px;
  text-align: center;
}

.auth-modal > form > h3 {
  color: #fff;
  font-weight: 900;
  text-shadow: 0 1px 1px black;
}

.auth-modal > form > .input-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0;
}

.auth-modal > form > .input-control > label {
  text-align: left;
  font-weight: 900;
  margin-bottom: 7px;
  color: #0b252f;
}

.auth-modal > form > .input-control > input {
  border: 1px solid #fff;
  background: #e9e9e9;
  background: -webkit-gradient(linear, left bottom, left top, from(#e9e9e9), to(#a6a2a2));
  background: linear-gradient(0deg, #e9e9e9 0%, #a6a2a2 100%);
  outline: none;
  border-radius: 4px;
  width: 300px;
  padding: 9px 12px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.auth-modal > form > .reset-password {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  color: #0b252f;
}

.auth-modal > form > .reset-password a {
  color: #d9fb72;
  text-decoration: none;
}

@-webkit-keyframes error {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes error {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav {
  width: 60px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  -webkit-transition: .25s;
  transition: .25s;
}

.nav > ul {
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav > ul > li {
  height: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav > ul > li.active {
  background: transparent;
}

.nav > ul > li:hover {
  background: rgba(17, 17, 17, 0.98);
}

.nav > ul > li > p {
  width: 100%;
  display: block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.max-width-700 {
  max-width: 700px !important;
}

.max-width-500 {
  max-width: 500px !important;
}

.redLinear {
  background: -webkit-gradient(linear, left top, left bottom, from(#e95151), to(#b40505)) !important;
  background: linear-gradient(180deg, #e95151 0%, #b40505 100%) !important;
}

.redLinear:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#e95151), to(#b40505)) !important;
  background: linear-gradient(0deg, #e95151 0%, #b40505 100%) !important;
}

.blackLinear {
  background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#0e0d0d)) !important;
  background: linear-gradient(180deg, #303030 0%, #0e0d0d 100%) !important;
}

.blackLinear:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#303030), to(#0e0d0d)) !important;
  background: linear-gradient(0deg, #303030 0%, #0e0d0d 100%) !important;
}

.blueLinear {
  background: -webkit-gradient(linear, left top, left bottom, from(#49a0b1), to(#1b5e6b)) !important;
  background: linear-gradient(180deg, #49a0b1 0%, #1b5e6b 100%) !important;
}

.blueLinear:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#49a0b1), to(#1b5e6b)) !important;
  background: linear-gradient(0deg, #49a0b1 0%, #1b5e6b 100%) !important;
}

.pl-10 {
  padding-left: 10px;
}

#root {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#root > .nav_bar {
  position: relative;
  width: 20vw;
  min-width: 350px;
  height: 100%;
  border-right: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #2f2c2c;
  -webkit-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 0 2px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  #root > .nav_bar {
    width: 55px;
    min-width: 55px;
    z-index: 111;
    border-right: none;
  }
}

#root > .nav_bar > .userDetails-NameSpace_container {
  width: 90px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#0e0d0d));
  background: linear-gradient(180deg, #303030 0%, #0e0d0d 100%);
  -webkit-box-shadow: 1px 0 3px black;
          box-shadow: 1px 0 3px black;
  z-index: 111;
}

@media (max-width: 768px) {
  #root > .nav_bar > .userDetails-NameSpace_container {
    padding: 0 10px;
  }
  #root > .nav_bar > .userDetails-NameSpace_container > * {
    zoom: .6;
  }
}

#root > .nav_bar > .userDetails-NameSpace_container > hr {
  width: 100%;
  border: 0.4px solid rgba(101, 101, 101, 0.46);
  margin-bottom: 10px;
}

#root > .nav_bar > .userDetails-NameSpace_container > .nameSpaceContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
}

#root > .nav_bar > .userDetails-NameSpace_container > .nameSpaceContainer p {
  color: white;
}

#root > .nav_bar > .userDetails-NameSpace_container .image_holder {
  width: 65px;
  height: 65px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  margin: 10px auto;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
  background: #1c1c1c;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#root > .nav_bar > .userDetails-NameSpace_container .image_holder > img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

#root > .nav_bar > .userDetails-NameSpace_container .image_holder:hover {
  -webkit-transform: scale(1.03) !important;
          transform: scale(1.03) !important;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#root > .nav_bar > .userDetails-NameSpace_container > .add-name_space {
  border: 1px solid #cccccced;
  margin-bottom: 20px;
}

#root > .nav_bar > .userDetails-NameSpace_container > .add-name_space > img {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

#root > .nav_bar > .userDetails-NameSpace_container > hr.logout {
  margin-top: 10px;
  margin-bottom: 0;
}

#root > .nav_bar > .userDetails-NameSpace_container > .logout-btn {
  margin: 10px auto;
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#root > .nav_bar > .userDetails-NameSpace_container > .logout-btn > img {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

#root > .nav_bar > .userDetails-NameSpace_container > .user_dp {
  position: relative;
  margin: 30px 0;
}

#root > .nav_bar > .userDetails-NameSpace_container > .user_dp > img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#root > .nav_bar > .userDetails-NameSpace_container > .user_dp > .notification-count {
  position: absolute;
  bottom: -8px;
  right: -4px;
  color: #ece742;
  font-size: 12px;
  font-family: 'Montserrat_Bold', sans-serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  background: #c63c62;
  border-radius: 200px;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
}

#root > .nav_bar > .userDetails-NameSpace_container > .user_dp > .notification-count:hover {
  background: #c6633c;
}

#root > .nav_bar > .nameSpaceDetails-Room_container {
  position: relative;
  width: calc(20vw - 90px);
  min-width: calc(350px - 90px);
  background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#0e0d0d));
  background: linear-gradient(180deg, #303030 0%, #0e0d0d 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 768px) {
  #root > .nav_bar > .nameSpaceDetails-Room_container {
    width: 0;
    min-width: 0;
    overflow: hidden;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  #root > .nav_bar > .nameSpaceDetails-Room_container.open-mob {
    width: calc(20vw - 90px);
    min-width: calc(350px - 90px);
    overflow: hidden;
  }
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .namespace-name {
  position: relative;
  display: inline-block;
  height: 40px;
  margin: 20px 10%;
  color: #d4cdab;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .namespace-name.hide {
  opacity: 0;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .namespace-name > * {
  line-height: 40px;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .namespace-name > .namespace-event > * {
  line-height: 40px;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .namespace-name > .namespace-event > .material-icons {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .namespace-name > .namespace-event > h3 {
  float: left;
  font-weight: 700;
  font-family: "Montserrat_Light", sans-serif;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .namespace-name > .ns-options.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#2b2b2b), to(#252424));
  background: linear-gradient(180deg, #2b2b2b 0%, #252424 100%);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  border: 0.5px solid #232222;
  z-index: 199;
  display: none;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .namespace-name > .ns-options.dropdown.opened {
  display: block;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .namespace-name > .ns-options.dropdown > .ns-option {
  padding: 0 9px;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .namespace-name > .ns-options.dropdown > .ns-option > p {
  font-size: 13px;
  color: #fff;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .namespace-name > .ns-options.dropdown > .ns-option:hover {
  background: #d4c68b12;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .roomContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 90px 10% 10px;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .roomContainer.hide {
  opacity: 0;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .roomContainer > .room-group-name {
  width: 100%;
  font-size: 20px;
  color: #b16f5b;
  margin-bottom: 7px;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .roomContainer > .room {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
  overflow: hidden;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .roomContainer > .room > hr {
  width: 100%;
  border: 0.5px solid rgba(101, 101, 101, 0.46);
  margin-bottom: 3px;
  position: absolute;
  bottom: 0;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .roomContainer > .room > .room-name {
  width: 100%;
  cursor: pointer;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .roomContainer > .room > .room-name > span {
  -webkit-transition: .15s;
  transition: .15s;
  color: #fff;
  font-size: 13px;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .roomContainer > .room > .room-name:hover > span {
  color: #d4cd9f;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .roomContainer > .room > .material-icons {
  font-size: 16px;
  color: #e64d4d;
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
  opacity: 0;
  -webkit-transition: .15s;
  transition: .15s;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .roomContainer > .room > .material-icons:hover {
  color: #e63327;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .roomContainer > .room:hover > .material-icons {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .add-room {
  width: 80%;
  margin: 0 auto;
  font-size: 10px;
  border: 2px solid #c4ffc6;
  background: -webkit-gradient(linear, left top, left bottom, from(#fb5f8a), to(#a22346));
  background: linear-gradient(180deg, #fb5f8a 0%, #a22346 100%);
  border-radius: 4px;
  font-weight: 800;
  outline: none;
}

#root > .nav_bar > .nameSpaceDetails-Room_container > .add-room:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fb5f8a), to(#a22346));
  background: linear-gradient(0deg, #fb5f8a 0%, #a22346 100%);
}

#root.namespace-interchange > .nav_bar > .nameSpaceDetails-Room_container {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

#root.namespace-interchange > .main_bar {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

#root > .main_bar {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 768px) {
  #root > .main_bar {
    width: calc(100vw - 55px);
    padding: 0 0 0 7px;
    overflow: hidden;
  }
}

#root > .main_bar > .room-details {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  background: #eee;
}

#root > .main_bar > .room-details > .keepItLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 7%;
  white-space: nowrap;
}

#root > .main_bar > .room-details > .keepItLeft > .current-room-name {
  margin-right: 30px;
}

#root > .main_bar > .room-details > .keepItLeft > .current-room-name > span {
  font-size: 18px;
  font-weight: 700;
}

#root > .main_bar > .room-details > .keepItLeft > .users-online {
  margin: 0 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root > .main_bar > .room-details > .keepItLeft > .users-online > .material-icons {
  color: #00ee00;
}

#root > .main_bar > .room-details > .keepItRight {
  margin: 0 7%;
}

#root > .main_bar > .room-details > .keepItRight.mob-search-btn {
  display: none;
}

@media (max-width: 768px) {
  #root > .main_bar > .room-details > .keepItRight.mob-search-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  #root > .main_bar > .room-details > .keepItRight.mob-drop-down {
    z-index: 21;
    position: absolute;
    height: 0;
    overflow: hidden;
    width: 100%;
    background: rgba(199, 188, 195, 0.85);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 100%;
    zoom: 0.9;
    margin: 0;
    -webkit-transition: .2s;
    transition: .2s;
  }
  #root > .main_bar > .room-details > .keepItRight.mob-drop-down.open {
    height: 50px;
  }
}

#root > .main_bar > .message-display__container {
  height: 100%;
  width: 98%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: auto;
}

#root > .main_bar > .message-display__container > .message {
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #272727;
  margin: 5px 0;
  border-radius: 10px 10px 10px 0;
  overflow: hidden;
  max-width: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  #root > .main_bar > .message-display__container > .message {
    max-width: 100%;
    zoom: 0.68;
    overflow: hidden;
  }
}

#root > .main_bar > .message-display__container > .message > hr {
  margin: 5px 0;
}

#root > .main_bar > .message-display__container > .message > .user-img {
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  position: relative;
  width: 60px;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 10px 0 0 0;
  overflow: hidden;
}

#root > .main_bar > .message-display__container > .message > .user-img > .message-user_dp {
  width: 100%;
  height: 100%;
}

#root > .main_bar > .message-display__container > .message > .message-body {
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  width: calc(100% - 60px);
  border: 2px solid #fff;
  border-left: none;
  background: #eee;
}

#root > .main_bar > .message-display__container > .message > .message-body > .message-header {
  color: #fff;
  font-weight: 800;
  background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#0e0d0d));
  background: linear-gradient(180deg, #303030 0%, #0e0d0d 100%);
  padding: 7px 9px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#root > .main_bar > .message-display__container > .message > .message-body > .message-header > .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

#root > .main_bar > .message-display__container > .message > .message-body > .message-header > .message-time_stamp {
  font-size: 10px;
}

#root > .main_bar > .message-display__container > .message > .message-body > .message-data {
  margin: 9px 30px 0 0;
  font-size: 14px;
  padding: 0 0 7px 9px;
  font-weight: 600;
}

@media (max-width: 768px) {
  #root > .main_bar > .message-display__container > .message > .message-body > .message-data {
    max-width: 100%;
    overflow: auto;
  }
}

#root > .main_bar > .message-display__container > .message > .message-body > .message-status {
  position: absolute;
  bottom: 0;
  right: 4px;
}

#root > .main_bar > .message-display__container > .message > .message-body > .message-status.sent > .material-icons {
  color: #2797A7;
}

#root > .main_bar > .message-display__container > .message > .message-body > .message-status > .material-icons {
  font-size: 14px;
  color: #bbb;
}

#root > .main_bar > .send-message {
  bottom: 0;
  width: 98%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

#root > .main_bar > .send-message > * {
  padding: 8px 10px;
}

#root > .main_bar > .send-message > input {
  width: 100%;
  height: 40px;
  font-size: 15px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  #root > .main_bar > .send-message > input {
    margin-right: 0;
    padding-right: 65px;
  }
}

#root > .main_bar > .send-message > button {
  height: 40px;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

@media (max-width: 768px) {
  #root > .main_bar > .send-message > button {
    position: absolute;
    right: 10px;
    max-width: 100%;
    zoom: 0.68;
    overflow: hidden;
    padding: 0 10px;
  }
}

#root > .main_bar > .send-message > button > .material-icons {
  margin-left: 5px;
  font-size: 15px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

#root > .main_bar > .send-message > button:hover > .material-icons {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}

#root > .back-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 199;
  opacity: 0;
  -webkit-animation: addBackDrop .19s ease-in-out forwards;
          animation: addBackDrop .19s ease-in-out forwards;
}

#root > .back-drop.noOpaque {
  background: rgba(0, 0, 0, 0);
  -webkit-animation: none;
          animation: none;
  opacity: 1;
}

#root > .back-drop.remove {
  opacity: 1;
  -webkit-animation: removeBackDrop .19s ease-in-out forwards;
          animation: removeBackDrop .19s ease-in-out forwards;
}

#root > .modal {
  width: 90vw;
  max-width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  background: url("/assets/images/blue-snow.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0 0;
  z-index: 201;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.95);
          transform: translate(-50%, -50%) scale(0.95);
  -webkit-animation: addPopupModal .19s ease-in-out forwards;
          animation: addPopupModal .19s ease-in-out forwards;
  min-height: 200px;
}

#root > .modal:focus {
  outline: none;
  border: none;
}

#root > .modal.blueBg {
  background: #d7476e !important;
}

#root > .modal.remove {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-animation: removePopupModal .19s ease-in-out forwards;
          animation: removePopupModal .19s ease-in-out forwards;
}

#root > .modal h5 {
  color: #1f6471;
  font-family: 'Montserrat_Bold', sans-serif;
  font-size: 14px;
  margin: 10px 0;
}

#root > .modal h5.bottomMarginInc {
  margin: 10px 0 20px !important;
  color: white !important;
}

#root > .modal[data-id="getInvCode"] > h5 {
  color: #1d616e;
  text-align: center;
  font-size: 14px;
}

#root > .modal .invite-code {
  padding: 50px 0;
  text-align: center;
  border: 1px solid #e5e8e9;
  background: #b5bebf59;
  margin: 10px 0 20px;
}

#root > .modal .invite-code > p {
  font-weight: 800;
  color: #d6174b;
}

#root > .modal > .first-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

#root > .modal > .first-choice.alone {
  padding: 0 20px 20px;
}

#root > .modal > .first-choice.noRightPadding {
  padding: 0 !important;
}

#root > .modal > .first-choice.center-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root > .modal > .first-choice > h5.bigger {
  font-size: 22px;
}

#root > .modal > .first-choice > .nsImage {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 200px;
  overflow: hidden;
  border: 2px solid lightgrey;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#root > .modal > .first-choice > .nsImage > .input__file {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 11;
}

#root > .modal > .first-choice > .nsImage > .input__file + figure > svg {
  fill: rgba(191, 48, 83, 0.04);
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#root > .modal > .first-choice > .nsImage > .input__file:hover + figure > svg,
#root > .modal > .first-choice > .nsImage > .input__file.active + figure > svg {
  fill: rgba(31, 100, 113, 0.66);
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#root > .modal > .first-choice > .nsImage > .input__file:hover + figure {
  background: rgba(117, 117, 117, 0.3);
}

#root > .modal > .first-choice > .nsImage > figure {
  width: 100%;
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  background: rgba(117, 117, 117, 0.1);
  -webkit-transition: .3s;
  transition: .3s;
}

#root > .modal > .first-choice > .nsImage > .dp__name {
  position: absolute;
  top: 80%;
  color: rgba(0, 0, 0, 0.66);
  font-weight: 700;
  max-width: 200px;
  white-space: pre-wrap;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .3s;
  transition: .3s;
}

#root > .modal > .first-choice > .nsImage > img {
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
}

#root > .modal > .option-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px 20px;
  background: #2a7481;
  border-bottom-left-radius: 4px;
}

#root > .modal > .option-choice.center-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root > .modal > .option-choice > h5 {
  color: #fff;
}

#root > .modal > .option-choice > button {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0b0b0b), to(#202020));
  background-image: linear-gradient(0deg, #0b0b0b 0%, #202020 100%);
}

#root > .modal > .option-choice > button:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#303030), to(#0e0d0d));
  background-image: linear-gradient(0deg, #303030 0%, #0e0d0d 100%);
}

#root > .modal > .option-choice label {
  color: #63acb9 !important;
}

#root > .modal > .option-choice label::before, #root > .modal > .option-choice label::after {
  background: #63acb9 !important;
}

#root > .modal .confirm {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#root > .modal .confirm > .action_btn {
  zoom: 0.5;
  border: 1px solid lightgrey;
  background: white;
  width: 30px;
  opacity: 0.8;
}

#root > .modal .confirm > .action_btn:hover {
  background: rgba(255, 255, 255, 0.46);
}

#root > .modal .confirm > .action_btn.yes {
  width: 40px;
  height: 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 4px 30px;
}

#root > .modal .confirm > .action_btn.no {
  height: 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 7px 30px 1px;
}

#root > .modal .confirm > .action_btn > img {
  width: 100%;
}

#root > .modal .loader-container {
  margin: 30px 0;
}

#root > .modal .loader-container.noMargin {
  margin: 0;
}

#root > .modal .nothing_to_show {
  width: 100%;
  text-align: center;
  color: lightblue;
  margin: 10px 0;
}

#root > .modal .nothing_to_show > hr {
  border: 0.8px solid rgba(255, 255, 255, 0.14);
  margin-bottom: 10px;
}

#root > .modal .notification {
  position: relative;
  width: 100%;
  background: #fcffffbf;
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#root > .modal .notification:hover {
  background: #f3d1dbcf;
}

#root > .modal .notification:hover > .delete-notification {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

#root > .modal .notification:hover > .confirm {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#root > .modal .notification > .delete-notification {
  position: absolute;
  top: 5px;
  right: 4px;
  width: 14px;
  height: 14px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#root > .modal .notification > .delete-notification > img {
  width: 100%;
  height: 100%;
}

#root > .modal .notification > .image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 200px;
  overflow: hidden;
  margin-right: 15px;
  border: 2px solid white;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

#root > .modal .notification > .image > img {
  width: 100%;
  height: 100%;
}

#root > .modal .notification > .body > p {
  font-size: 14px;
  font-family: 'Montserrat_SemiBold', sans-serif;
}

#root > .modal .input-control {
  width: 90%;
  margin: 20px 0 0;
  text-align: center;
}

#root > .modal .input-control > label {
  position: relative;
  font-size: 13px;
  font-weight: 800;
  margin-left: 2px;
  font-family: 'Montserrat_Regular', sans-serif;
  margin-bottom: 12px;
  color: darkgrey;
  display: block;
}

#root > .modal .input-control > label::before {
  content: '';
  position: absolute;
  top: 60%;
  left: 0;
  width: 18%;
  height: 1px;
  background: lightgrey;
}

#root > .modal .input-control > label::after {
  content: '';
  position: absolute;
  top: 60%;
  right: 0;
  width: 18%;
  height: 1px;
  background: lightgrey;
}

#root > .modal .input-control > label.strict-action::before {
  width: 30%;
}

#root > .modal .input-control > label.strict-action::after {
  width: 30%;
}

#root > .modal .input-control > label.finalize::before {
  width: 25%;
}

#root > .modal .input-control > label.finalize::after {
  width: 25%;
}

#root > .modal .input-control > label.small::before {
  width: 7%;
}

#root > .modal .input-control > label.small::after {
  width: 7%;
}

#root > .modal .input-control > input {
  margin: 0;
}

#root > .modal .check-boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#root > .modal .check-boxes > .checkbox-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 32px;
  padding: 0 5%;
  width: 50%;
}

#root > .modal .check-boxes > .checkbox-control > label {
  margin: 10px 0;
}

#root > .modal .check-boxes > .checkbox-control > input {
  width: 20px;
  margin-right: 4px;
}

#root > .modal .btns {
  margin-top: 20px;
  width: 100%;
}

#root > .modal .btns > button {
  width: 50%;
  margin: 0 15px 0 0;
}

#root > .modal input {
  width: 100%;
  height: 32px;
  margin: 10px 0;
  -webkit-transition: .19s;
  transition: .19s;
}

#root > .modal input:focus {
  border: 2px solid #49a0b1;
}

#root > .modal button {
  background: -webkit-gradient(linear, left top, left bottom, from(#49a0b1), to(#1b5e6b));
  background: linear-gradient(180deg, #49a0b1 0%, #1b5e6b 100%);
}

#root > .modal button:hover, #root > .modal button:active {
  background: -webkit-gradient(linear, left bottom, left top, from(#49a0b1), to(#1b5e6b));
  background: linear-gradient(0deg, #49a0b1 0%, #1b5e6b 100%);
}

#root > .modal .or {
  margin: 10px 0;
  text-align: center;
  color: darkgrey;
}

#root > .modal .or > p {
  position: relative;
  font-size: 18px;
}

#root > .modal .or > p::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 45%;
  height: 1px;
  background: lightgrey;
}

#root > .modal .or > p::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 45%;
  height: 1px;
  background: lightgrey;
}

#root > .modal > .attached-modal {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0 4px 4px 0;
}

#root > .modal > .attached-modal > .head {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #1f6471c7;
}

#root > .modal > .attached-modal > .head > .user_details {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root > .modal > .attached-modal > .head > .user_details:hover > h5 {
  color: rgba(255, 255, 255, 0.753);
}

#root > .modal > .attached-modal > .head > .user_details > img {
  margin-right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 200px;
  border: 2px solid lightgrey;
  -webkit-box-shadow: 0 2px 3px rgba(22, 136, 62, 0.4);
          box-shadow: 0 2px 3px rgba(22, 136, 62, 0.4);
}

#root > .modal > .attached-modal > .head > .user_details > h5 {
  -webkit-transition: .13s;
  transition: .13s;
  color: #fff;
  font-family: 'Montserrat_Regular', sans-serif;
  font-size: 18px;
}

#root > .modal > .attached-modal > .head > .options > i {
  color: #fff;
  -webkit-transition: .13s;
  transition: .13s;
}

#root > .modal > .attached-modal > .head > .options:hover > i {
  color: rgba(255, 255, 255, 0.753);
}

#root > .modal > .attached-modal > .body {
  position: relative;
  width: 100%;
  height: 100%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("/assets/images/email-pattern.png");
}

#root > .modal > .attached-modal > .body > .loader-container {
  margin: 40px auto;
}

#root > .modal > .attached-modal > .body > .message {
  display: block;
  padding: 5px;
}

#root > .modal > .attached-modal > .body > .message > .body {
  position: relative;
  max-width: 250px;
  min-width: 80px;
  display: inline-block;
  border-radius: 9px 9px 9px 0;
  padding: 10px 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: lightblue;
  font-size: 14px;
  font-family: 'Montserrat_Bold', sans-serif;
}

#root > .modal > .attached-modal > .body > .message > .body > .time {
  position: absolute;
  right: 10px;
  bottom: 3px;
  font-size: 8px;
  color: darkgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root > .modal > .attached-modal > .body > .message > .body > .time > img {
  width: 8px;
  height: 8px;
  margin-left: 4px;
}

#root > .modal > .attached-modal > .body > .message[data-id="other"] > .body {
  float: left;
}

#root > .modal > .attached-modal > .body > .message[data-id="other"] > .body > .time {
  color: rgba(0, 0, 0, 0.829);
}

#root > .modal > .attached-modal > .body > .message[data-id="self"] > .body {
  float: right;
  border-radius: 9px 9px 0 9px;
  background: lightgrey;
}

#root > .modal > .attached-modal > .body > .message[data-id="self"] > .body > .time {
  color: rgba(0, 0, 0, 0.829);
}

#root > .modal > .attached-modal > .controls {
  padding: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #dedede;
}

#root > .modal > .attached-modal > .controls > button {
  margin-left: 4px;
  height: 32px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

#root > .modal > .attached-modal > .controls > button > i {
  font-size: 15px;
}

#root > .friends-list {
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#0e0d0d));
  background: linear-gradient(180deg, #303030 0%, #0e0d0d 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

#root > .friends-list > .friend {
  position: relative;
  margin: 10px 10px;
  width: 45px;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

#root > .friends-list > .friend > img {
  width: 100%;
  height: 100%;
}

#root > .friends-list > .friend > .status {
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 200px;
  border: 1px solid #fff;
  background: greenyellow;
  position: absolute;
  top: calc(100% - 7px);
  left: calc(100% - 6px);
  -webkit-box-shadow: 0 2px 4px black;
          box-shadow: 0 2px 4px black;
}

#root > .friends-list > .friend[data-status="online"] {
  border: 2px solid greenyellow;
}

#root > .friends-list > .friend[data-status="online"] > .status {
  background: greenyellow;
}

#root > .friends-list > .friend[data-status="offline"] {
  border: 2px solid #9c9e9a;
}

#root > .friends-list > .friend[data-status="offline"]::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  pointer-events: none;
}

#root > .friends-list > .friend[data-status="offline"] > .status {
  background: #9c9e9a;
}

#root > .friends-list > .friend[data-status="idle"] {
  border: 2px solid rgba(255, 255, 0, 0.712);
}

#root > .friends-list > .friend[data-status="idle"]::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#root > .friends-list > .friend[data-status="idle"] > .status {
  background: yellow;
}

@-webkit-keyframes addBackDrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes addBackDrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes removeBackDrop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes removeBackDrop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes addPopupModal {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.95);
            transform: translate(-50%, -50%) scale(0.95);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes addPopupModal {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.95);
            transform: translate(-50%, -50%) scale(0.95);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@-webkit-keyframes removePopupModal {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.95);
            transform: translate(-50%, -50%) scale(0.95);
  }
}

@keyframes removePopupModal {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.95);
            transform: translate(-50%, -50%) scale(0.95);
  }
}

input[type="text"] {
  outline: none;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  padding: 4px 8px;
  background: #dedede;
  color: #000;
  border-radius: 4px;
}

button {
  outline: none;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  padding: 4px 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#0e0d0d));
  background: linear-gradient(180deg, #303030 0%, #0e0d0d 100%);
  color: #fff;
  border-radius: 4px;
  border: 2px solid #fff;
}

button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#303030), to(#0e0d0d));
  background: linear-gradient(0deg, #303030 0%, #0e0d0d 100%);
}

.pointer {
  cursor: pointer;
}

@-webkit-keyframes topToBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    opacity: 0.97;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes topToBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    opacity: 0.97;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  100% {
    opacity: 0.97;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  100% {
    opacity: 0.97;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.loader-container {
  width: 40px;
  height: 40px;
  fill: none;
  stroke: #ff2638;
  stroke-width: 3;
  /*zoom: 0.5;*/
  -webkit-animation: animLoader 1.3s infinite;
          animation: animLoader 1.3s infinite;
}

.loader-container.hidden > svg {
  width: 0;
  height: 0;
}

@-webkit-keyframes animLoader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animLoader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.btn.hold {
  color: #3c3423 !important;
  background: #fff !important;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.9) !important;
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.9) !important;
}

.btn.loading > .loader-container {
  width: 40px;
  margin-left: 20px;
}

.btn > .loader-container {
  width: 0;
  overflow: hidden;
  margin-left: 0;
  zoom: 0.4;
  -webkit-transition: .3s;
  transition: .3s;
}
/*# sourceMappingURL=main.css.map */